*{
    margin: 0%;
    padding: 0%;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    padding: 30px;
}
.text{
    text-align: center;
    font-size: 20px;
}
.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.searchBar input{
    width: 400px;
    height: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color: #ebe9e9;
}
.searchBar button{
    height: 40px;
    width: 90px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    background-color: rgb(18, 132, 132);
    color: white;
    margin-inline: 10px;

}

.showData {
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
}
.card {
    margin-inline:16px;
    margin-top: 30px;
}
.card a {
    color: black;
    text-decoration: none;
}
.card a:hover {
    border-bottom: 1px solid black;
    color: rgb(139, 96, 180);
}

.showData img {
    width: 100%;
    height: 300px;        /* fixed height */
    object-fit: cover;    /* prevents stretching */
    border-radius: 5px;
}

.loadMore {
    text-align: center;
    padding: 22px;
    display: none;
}
#loadMoreBtn {
    width: 140px;
    height: 40px;
    background-color: rgb(18, 132, 132);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width:450px) {
    .searchBar button {
        height: 34px;
        font-size: 16px;
        margin-inline: 5px;
    }
}
@media screen and (max-width:450px) {
    .searchBar input {
        height: 14px;
        width: 90%;
        font-size: 16px;
    }
}